@import url("https://fonts.googleapis.com/css2?family=Niramit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    user-select: none;
}

.resaltado {
    color: #5a664f;
}

.titulo {
    font-family: "Quicksand", sans-serif;
    font-size: 48px;
}

.parallax-inicio {
    background-image: url("/assets/fondo_home_3.jpg");
    min-height: 950px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    img {
        height: 250px;
        width: 400;
        pointer-events: none;
    }
    .links-box {
        display: flex;
        gap: 40px;
        background-color: #9797977e;
        padding: 15px;
        border-radius: 30px;
        a {
            font-family: "Niramit", sans-serif;
            text-decoration: none;
            font-weight: lighter;
            color: white;
            font-size: 20px;
            &:hover {
                transform: scale(1.1);
                transition: all 250ms ease-out;
            }
        }
    }
}

.presentacion-box {
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #e8e8e8;
    .titulo-presentacion {
        font-family: "Quicksand", sans-serif;
        font-size: 48px;
    }
    .descripcion-presentacion {
        text-align: justify;
        margin-top: 10px;
        width: 900px;
        font-size: 18px;
    }
}

.loteo-box {
    min-height: 950px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    gap: 100px;

    .mapa-loteo-box {
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        img {
            width: 550px;
            height: 750px;
        }
        a {
            text-decoration: none;
            background-color: #5a664f;
            color: white;
            font-size: 18px;
            text-align: center;
            width: 150px;
            padding: 10px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: all 250ms ease-in-out;
            &:hover {
                background-color: rgb(62, 75, 50);
            }
        }
    }
    .caracteristicas-loteo-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        .texto-box {
            width: 500px;
            .numero {
                color: black;
                font-size: 60px;
                font-weight: bold;
            }
            p {
                font-family: "Niramit", sans-serif;
                margin-top: -20px;
                color: #68755b;
                font-size: 42px;
            }
        }
    }
}

.caracteristicas-box {
    min-height: 650px;
    background-color: #e8e8e8;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    .caracteristicas-items-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        list-style: none;

        height: 250px;

        .item {
            width: 175px;
            height: 175px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            background-color: #78886a;
            color: whitesmoke;

            i {
                font-size: 60px;
            }
            p {
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.ubicacion {
    min-height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f6f6f6;

    iframe {
        justify-self: center;
        border: #5a664f 3px solid;
    }
}

.under-construction {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    background-color: #f6f6f6;
    border: 10px solid yellow;

    p {
        font-size: 32px;
    }
    img {
        width: 200px;
    }
}
