@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Julius+Sans+One&family=Poppins&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    .loteo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-color: red;
        background-image: url(/assets/fondo-home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        gap: 1rem;
        color: white;
        font-weight: light;
        text-align: center;

        h1 {
            background-color: #68755b;
        }

        button {
            background-color: #5a664f;
            color: whitesmoke;
            font-family: "Poppins", sans-serif;
            font-size: larger;
            border: none;
            padding: 1rem;
            border-radius: 30px;
        }
    }

    .ubicacion {
        height: 100vh;
        background-image: url(/assets/fondo-6.jpg);
    }

    .contacto {
        height: 100vh;
        background-color: pink;
    }

    .caracteristicas {
        height: 100vh;
        background-image: url(/assets/fondo-3.jpg);
    }
}

@media screen and (max-width: 875px) {
    .inicio {
        height: 100vh;
        background-image: url(/assets/fondo-5.jpg);

        .cabecera {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 20px;
            padding: 20px;
            .descripcion {
                text-align: center;
                font-style: italic;
            }
        }
        .video {
            display: flex;
            justify-content: center;
        }
    }

    .ubicacion {
        display: flex;

        .ubicacion-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            row-gap: 20px;
            text-align: center;
            h1 {
                background-color: #5a664f;
                color: white;
                width: 100%;
            }
            .mapa {
                display: flex;
                justify-content: center;
                background-color: #90a37e8f;
                height: 380px;
                align-items: center;
            }
            .ubicacion-info-texto {
                color: white;
            }
        }
    }

    .loteo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(/assets/fondo-home.jpg);
        gap: 1rem;
        color: white;
        font-weight: light;
        text-align: center;

        h1 {
            background-color: #5a664f;
            width: 100%;
        }

        .plano {
            width: 80%;
            height: 60%;
        }

        button {
            background-color: #5a664f;
            color: whitesmoke;
            font-family: "Poppins", sans-serif;
            font-size: larger;
            border: none;
            padding: 1rem;
            border-radius: 30px;
        }
    }

    .contacto {
        height: 100vh;
        background-color: pink;
    }

    .caracteristicas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;
        text-align: center;
        gap: 1rem;

        h1 {
            background-color: #5a664f;
            width: 100%;
        }

        .items {
            height: 500px;
            background-color: #5a664fbd;

            width: 100%;
            display: flex;
            align-items: center;
            .grilla {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.6rem;
                grid-auto-rows: minmax(100px, auto);
                list-style: none;
                .item {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #82927298;
                    padding: 0.4rem;

                    i {
                        font-size: 3rem;
                    }
                    .descripcion {
                        text-align: center;
                    }
                }
            }
        }
    }
}
